.contact {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    cursor: pointer;

    &:hover {
        background-color: #c2bdb826;
    }
}

.desc {
    align-content: center;
    flex-grow: 1;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    line-height: 1.5;
}

.time {
    font-size: 0.75rem;
    color: var(--clr-text-secondary);
}

.last-message {
    font-size: 0.875rem;
    margin-top: 2px;
    line-height: 20px;
    color: var(--clr-text-secondary);
}