.contact {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    cursor: pointer;

    &:hover {
        background-color: #c2bdb826;
    }
}

.avatar {
    aspect-ratio: 1;
    height: 50px;
    font-size: 22px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    background-color: #ddd;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

.desc {
    align-content: center;
    flex-grow: 1;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    line-height: 1.5;
}

.time {
    font-size: 0.75rem;
    color: var(--clr-text-secondary);
}

.last-message {
    font-size: 0.875rem;
    margin-top: 2px;
    line-height: 20px;
    color: var(--clr-text-secondary);
}




.chat-container {
    height: 200px;
    /* Define a viewing height */
    overflow-y: auto;
    /* Enable scrolling */
    display: flex;
    flex-direction: column-reverse;
    /* Stack content from bottom to top */
}

.message-list {
    display: flex;
    flex-direction: column-reverse;
    /* Ensure list items also reverse order */
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* Optional: remove bullet points */
}