* {
    box-sizing: border-box;
}

body {
	font-family: "Google Sans","Roboto","Arial",sans-serif;
    color: #3c4043;
    margin: 0;
}

menu {
    box-shadow: 0 1px 5px #0007;
    margin: 0;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
}

menu > nav {
    float: right;
    margin: 0.1em 2em;
}

nav > span {
    margin: 2em;
}

menu > logo {
    color: #666;
    font-size: 1.2em;
}

menu > logo::before {
    content: '\2630';
    color: #333;
    display: inline-block;
    position: relative;
    top: -1px;
    margin: 0 20px;
}

banner {
    text-align: center;
    color: black;
    width: 100%;
    height: 515px;
    display: block;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 2em;
}

banner.top {
    padding-top: 160px;
}

banner.with-animation {
    transition: padding-top 1s, opacity 1s;
}

banner.init {
    padding-top: 200px;
    opacity: 0;
}

banner > h6,
banner > h4 {
    color: #555;
}

banner.top > h6 {
    margin: 0;
}

banner.greeting {
    top: 260px;
    position: fixed;
    z-index: 500;
}

banner.greeting h4,
banner.greeting h6 {
    opacity: 0;
    transition: opacity 1s;
}

lroom {
    margin-top: 1150px;
    display: block;
    width: 100%;
    position: relative;
}

lroom .room-bg {
    background-image: url('../img/living-room.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: sticky;
    bottom: 0;
}

.reveal-overlay {
    width: 100%;
    height: 100vh;
    background: white;
    position: absolute;
    z-index: 1;
}

.lroom-area-before {
    width: 100%;
    height: 6500px;
    background: white;
}

pframe {
    display: block;
    border: 2vw solid #333;
    background-color: #000;
    box-shadow: 5px 7px 10px #0008;
    overflow: hidden;
}

pframe > img {
    width: 100%;
    height: 100%;
}

pframe.splash,
lroom pframe {
    position: fixed;
    width: 100vw;
    height: 56vw;
    top: calc((100vh - 56vw) / 2);
    background: url("../img/sailing-boat.jpeg");
    bottom: 0;
    z-index: 10;
    background-size: cover;
    background-position: center;
}

pframe.splash {
    transform: scale(0.6) rotate(16deg) translate(-65vw, 100vh);
}

lroom pframe {
    display: none;
    position: sticky;
}

@media screen and (min-width: 1154px) {
    pframe.splash,
    lroom pframe {
        width: 140vh;
        height: 100vh;
        top: 0;
        left: calc((100vw - 140vh)/2);
    }
}

object {
    z-index: 1;
}

object.paint {
    display: block;
    width: 70px;
    height: 64px;
    position: fixed;
    background-size: 100%;
}

object.paint.red {
    background-image: url(../img/paint-red.png);
    right: 0;
    bottom: 190px;
}

object.paint.green {
    background-image: url(../img/paint-green.png);
    right: 12%;
    top: 250px;
}

object.paint.blue {
    background-image: url(../img/paint-blue.png);
    right: 20%;
    bottom: 130px;
}

object.brush {
    height: 120px;
    width: 80px;
    background-size: 100%;
    display: block;
    position: fixed;
}

object.brush.yellow {
    background-image: url(../img/brush-yellow.png);
    right: 31%;
    bottom: 0;
}

object.brush.red {
    background-image: url(../img/brush-red.png);
    right: 35%;
    bottom: 0;
}

object.brush.blue {
    background-image: url(../img/brush-blue.png);
    right: 37%;
    bottom: -6px;
    transform: rotate(-10deg);
    width: 110px;
    height: 145px;
}

.ribben {
    width: 100%;
    height: 300px;
    margin: 30px 0;
    padding: 0 15px;
    margin-bottom: 1000px;
    white-space: nowrap;
    overflow: auto hidden;
}

.ribben .tb-frame {
    background: white;
    height: 100%;
    display: inline-block;
    margin-right: 40px;
    border: 15px solid #333;
    background-size: cover;
    background-position: center;
    position: relative;
    vertical-align: middle;
}

.ribben .tb-frame img {
    height: 100%;
    box-shadow: 1px 1px 1px #000;
}

.tb-frame.padded {
    padding: 30px;
}

.tb-frame .name {
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    background: rgb(0 0 0 / 45%);
    padding: 5px;
    font-weight: 600;
    transition: bottom 0.3s;
    bottom: -45px;
    left: 0;
}

section {
    margin-top: 50px;
}

section label {
    margin: 10px 50px;
    font-size: 25px;
    font-weight: 600;
}

.ribben .tb-frame:hover .name {
    bottom: 0;
}

[hidden] {
    display: none !important;
}