body {
	font-family: "Roboto", Helvetica, sans-serif;
    margin: 0;
}

menu {
    box-shadow: 0 1px 5px #0007;
    margin: 0;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
}

menu > nav {
    float: right;
    margin: 0.1em 2em;
}

nav > span {
    margin: 2em;
}

menu > logo {
    color: #666;
    font-size: 1.2em;
}

menu > logo::before {
    content: '\2630';
    color: #333;
    display: inline-block;
    position: relative;
    top: -1px;
    margin: 0 20px;
}

banner {
    text-align: center;
    color: black;
    width: 100%;
    height: 515px;
    display: block;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 2em;
    padding-top: 140px;

}

banner > h6 {
    margin: 0;
    color: #555;
}

lroom {
    display: block;
    width: 100%;
    border: 1px solid red;
}

lroom .room-bg {
    background-image: url('../img/living-room.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: sticky;
    bottom: 0;
    z-index: -1;
}

.lroom-area-before {
    width: 100%;
    height: 750px;
    background: white;
}

.lroom-area-after {
    width: 100%;
    height: 2500px;
}

pframe {
    display: block;
    width: 100vw;
    height: 56vw; 
    position: fixed;
    top: calc((100vh - 56vw) / 2);
    background-color: #000;
    box-shadow: 5px 7px 10px #0008;
    overflow: hidden;
    left: 0;
    z-index: 10;
}

@media screen and (min-width: 1154px) {
    pframe {
        width: 180vh;
        height: 100vh;
        top: 0;
        left: calc((100vw - 180vh)/2);
    }
}

pframe > img {
    border: 2vw solid #333;
    width: calc(100% - 4vw);
    height: calc(100% - 4vw);
}

pframe.splash {
    transform: scale(0.6) rotate(16deg) translate(-65vw, 100vh);
}

object.paint {
    display: block;
    width: 70px;
    height: 64px;
    position: fixed;
    background-size: 100%;
}

object.paint.red {
    background-image: url(../img/paint-red.png);
    right: 0;
    bottom: 190px;
}

object.paint.green {
    background-image: url(../img/paint-green.png);
    right: 12%;
    top: 250px;
}

object.paint.blue {
    background-image: url(../img/paint-blue.png);
    right: 20%;
    bottom: 130px;
}

object.brush {
    height: 120px;
    width: 80px;
    background-size: 100%;
    display: block;
    position: fixed;
}

object.brush.yellow {
    background-image: url(../img/brush-yellow.png);
    right: 31%;
    bottom: 0;
}

object.brush.red {
    background-image: url(../img/brush-red.png);
    right: 35%;
    bottom: 0;
}

object.brush.blue {
    background-image: url(../img/brush-blue.png);
    right: 37%;
    bottom: -6px;
    transform: rotate(-10deg);
    width: 110px;
    height: 145px;
}

.ribben {
    width: 100%;
    height: 600px;
}