.avatar {
    aspect-ratio: 1;
    height: 50px;
    font-size: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

.sm {
    height: 40px;
}