:root {
    --purple: #958aff;
    --magenta: #ff8af7;
    --cyan: #8afff2;
    --yellow: #fff58a;
    --green: #8aff8a;
    --blue: #8aafff;
    --orange: #ffb58a;
}

body {
    margin: 0;
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.controller {
    width: 80%;
    max-width: 600px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

pad {
    display: grid;
    place-items: center;
    width: calc(50% - 0.5rem);
    aspect-ratio: 1;
    background: radial-gradient(#f4ffff 50%, #cfd4e2);
    border-radius: 2rem;
    box-shadow: 0 0.2px 1px 2px white, 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: min(18vw, 8.4rem);

    &.active {
        background: radial-gradient(#f4ffff 50%, #e4e8f2);
        box-shadow: 0 0.2px 1px 3px, 1px 1px 0 3px #fff5, 1px 1px 20px;
    }

    &.magenta.active {
        color: var(--magenta);
    }

    &.cyan.active {
        color: var(--cyan);
    }

    &.yellow.active {
        color: var(--yellow);
    }

    &.green.active {
        color: var(--green);
    }

    &.blue.active {
        color: var(--blue);
    }

    &.orange.active {
        color: var(--orange);
    }

    &.purple.active {
        color: var(--purple);
    }
}

.btn-fs {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px 5px 0;
    font-size: 2rem;
    z-index: 100;
    border: none;
}

body.fullscreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        position: absolute;
        top: 1rem;
        width: 100%;
    }

    .btn-fs {
        font-weight: bold;
        rotate: 180deg;
        text-shadow: 0 0 1px black;
    }
}